* {
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
}

.form{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.input{
    width: 200px;
    margin-right: 7px;
    padding: 12px 20px;
    border: 2px solid teal;
    border-radius: 5px;
    background-color: rgb(243, 235, 237);
    color: teal;
    font-size: 16px;
    font-weight: 500;
}

button{
    padding: 12px 10px;
    border: 2px solid teal;
    border-radius: 50px;
    background-color: rgb(243, 235, 237);
    color: teal;
    font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

button:hover{
    border: 2px solid white;
    background-color: teal;
    color: white;
}

.load-more-container{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
display: block;
height: 250px;
max-width: 100%;
object-fit: cover;
}

.photo-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 15px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.info {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding:  10px;
    color: aliceblue;
    background-color: teal;
}

.is-hidden{
    display: none;
}